//  @ base  

@imgUrl : "../images/";

//  float  

.fl(){
    float: left;
}
.fr(){
    float: right;
}

.fl-i(){
    float: left;
    display: inline-block; *display: inline; *zoom: 1;
}
.fr-i(){
    float: right;
    display: inline-block; *display: inline; *zoom: 1;
}

//   position 

.pos-s(){
    position: static;
}
.pos-r(){
    position: relative;
}
.pos-a(){
    position: absolute;
}
.pos-f(){
    position: fixed;
}

//  padding  

.pd(@size){
    padding: @size;
}
.pt(@size){
    padding-top: @size;
}
.pr(@size){
    padding-right: @size;
}
.pb(@size){
    padding-bottom: @size;
}
.pl(@size){
    padding-left: @size;
}

//  margin 

.mg(@size){
    margin: @size;
}
.mt(@size){
    margin-top: @size;
}
.mr(@size){
    margin-right: @size;
}
.mb(@size){
    margin-bottom: @size;
}
.ml(@size){
    margin-left: @size;
}

//  background 

.bg(@name, @rest...){
    background: url("@{imgUrl}@{name}") @rest;
}
.bc(@color){
    background-color: @color;
}
.bi(@img){
    background-image: @img;
}
.bp(@position){
    background-position: @position;
}

// border

.bd(@color, @width: 1px, @style: solid){
    border: @width @style @color;
}
.bt(@color, @width: 1px, @style: solid){
    border-top: @width @style @color;
}
.br(@color, @width: 1px, @style: solid){
    border-right: @width @style @color;
}
.bb(@color, @width: 1px, @style: solid){
    border-bottom: @width @style @color;
}
.bl(@color, @width: 1px, @style: solid){
    border-left: @width @style @color;
}

//  text-align  

.tl(){
    text-align: left;
}
.tc(){
    text-align: center;
}
.tr(){
    text-align: right;
}

//  vertical-align  

.vt(){
    vertical-align: top;
}
.vm(){
    vertical-align: middle;
}
.vb(){
    vertical-align: bottom;
}

// cursor 

.cur-p(){
    cursor: pointer;
}

