<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lottery</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/popup.css">
    <link rel="stylesheet" href="css/lottery.css">
    <script src="js/modernizr.js"></script>
    <script src="js/jquery-1.8.2.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/jquery.plugin.js"></script>
</head>
<body>
    <div class="Js-join">参加活动</div>

<script>
$(function() {
    $(".Js-join").on("click", function(){
        $.ajax({
            url : "/canJoin",
            type : "post",
            dataType : "json",
            success : function(result){
                if ( result.success ) {
                    if ( result.url == "view" ) {
                        window.location = "/view";
                    } else{
                        window.location = "/lottery";
                    }
                } else{
                    $.cgPopup({
                        type : "result",
                        message : "出错啦，重新试一下吧"
                    });
                }
            }
        });
    });



});
</script>


</body>
</html>