<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lottery</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/popup.css">
    <link rel="stylesheet" href="css/lottery.css">
    <script src="js/modernizr.js"></script>
    <script src="js/jquery-1.8.2.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/jquery.plugin.js"></script>
</head>
<body>

    <div class="theme-lottery-body-time">
        <div class="frame">
            <p class="time">活动时间：2013年12月1日—2013年12月15日</p>
        </div>
    </div>
    <div class="theme-lottery-body-prod"></div>
    <div class="theme-lottery-body-process">
        <div class="frame">
            <img src="images/lib/i.gif" alt="" class="ok" />
            <img src="images/lib/i.gif" alt="" class="ok" />
            <img src="images/lib/i.gif" alt="" class="ok" />
        </div>
    </div>
    <div class="theme-lottery-wrap">
        <div class="theme-lottery-head">
            <h1 class="text lottery"></h1>
        </div>
    </div>
    <div class="theme-lottery-lottery">
        <div class="theme-lottery-prize-box">
            <div class="prize-box">
                <img src="images/lib/i.gif" alt="" class="prize-default Js-prize" />
                <div class="hammer-over"></div>
                <div class="hammer"></div>
            </div>
        </div>
    </div>
    <div class="theme-lottery-footer">版权所有：湖南电信<span>技术支持：百应科技(北京)有限公司</span></div>

    <div class="wrap">
        <div class="lottery-result lottery-result-first">
            <div class="layer-left"></div>
            <div class="layer-right"></div>
            <div class="layer-block"></div>
        </div>
        <input type="button" value="继续抽奖" class="reset" />
        <input type="button" value="套餐" class="Js-scene" data-scene="pack" />
        <input type="button" value="手机" class="Js-scene" data-scene="mobile" />
        <input type="button" value="营业厅" class="Js-scene" data-scene="hall" />
        <input type="button" value="查找附近" class="Js-scene" data-scene="near" />
        <input type="button" value="出国服务" class="Js-scene" data-scene="abroad" />
    </div>

<script>
$(function() {
    var $lotteryBox = $(".prize-box"),
        $hammer = $lotteryBox.find(".hammer"),
        $hammerOver = $lotteryBox.find(".hammer-over"),
        $prize = $lotteryBox.find(".Js-prize"),
        hasLottery = false;
    $lotteryBox.on("mouseenter", function(e){
        if ( hasLottery ) {
            return false;
        }
        var pos = {};
        pos.x = e.offsetX ? e.offsetX : e.originalEvent.layerX;
        pos.y = e.offsetY ? e.offsetY : e.originalEvent.layerY;
        pos.px = e.pageX;
        pos.py = e.pageY;
        $hammer.show();
        $(document).on("mousemove", function(event){
            pos.mx = event.pageX;
            pos.my = event.pageY;
            $hammer.css({
                left : pos.x + pos.mx - pos.px - 65 + "px",
                top : pos.y + pos.my - pos.py - 65 + "px"
            });
        }).on("mousedown", function(){
            hasLottery = true;
            $hammer.addClass("hammer-click");
            $hammerOver.css({
                left : $hammer.position().left - 180 + "px",
                top : $hammer.position().top - 110 + "px"
            }).show();
            
        }).on("mouseup", function(){
            $hammer.removeClass("hammer-click");
            if( hasLottery ){
                $.ajax({
                    url : "/doLottery",
                    type : "post",
                    data : {},
                    dataType : "json",
                    success : function(result){
                        // console.log(result);
                        if ( result.success ) {
                            // if ( result.num <= 0 ) {
                            //     alert("您的剩余抽奖次数为0，感谢您的参与！");
                            //     return false;
                            // }
                            $hammer.hide();
                            $hammerOver.hide();
                            $prize.removeClass().addClass("prize-" + result.prize);
                            result.num--;
                            $.cookie("lotteryNum", result.num,{ expires: 7, path: '/' });
                            isLottery = true;
                        } else{
                            alert("操作异常，请重新尝试");
                        }
                    },
                    error : function(){
                        alert("操作异常，请重新尝试");
                    }
                });
                $(document).off("mousemove mousedown mouseup");
            }
        });
    }).on("mouseleave", function(){
        if ( hasLottery ) {
            return false;
        }
        $hammer.hide();
        $(document).off("mousemove mousedown mouseup");
    })











    // var $lotteryBox = $(".lottery-result"),
    //     $layerLeft = $lotteryBox.find(".layer-left"),
    //     $layerRight = $lotteryBox.find(".layer-right"),
    //     isLottery = false;
    // $lotteryBox.on("click", function(event){
    //     if ( !isLottery && !$layerLeft.is(":animated") ) {
            // $.ajax({
            //     url : "/doLottery",
            //     type : "post",
            //     data : {},
            //     dataType : "json",
            //     success : function(result){
            //         // console.log(result);
            //         if ( result.success ) {
            //             if ( result.num <= 0 ) {
            //                 alert("您的剩余抽奖次数为0，感谢您的参与！");
            //                 return false;
            //             }
            //             var width = $lotteryBox.width(),
            //                 show = event.offsetX ? event.offsetX : event.originalEvent.layerX,
            //                 widthL = show,
            //                 widthR = width - show;
            //             $lotteryBox.removeClass().addClass("lottery-result lottery-result-" + result.prize);
            //             $layerLeft.width(widthL);
            //             $layerRight.width(widthR);
            //             $layerLeft.animate({ width: 0 }, 400);
            //             $layerRight.animate({ width: 0 }, 400);
            //             result.num--;
            //             $.cookie("lotteryNum", result.num,{ expires: 7, path: '/' });
            //             isLottery = true;
            //         } else{
            //             alert("操作异常，请重新尝试");
            //         }
            //     },
            //     error : function(){
            //         alert("操作异常，请重新尝试");
            //     }
            // });
    //     }
    // });

    // $(".reset").on("click", function(){
    //     isLottery = false;
    //     $layerLeft.animate({ width: 50 + "%" }, 400);
    //     $layerRight.animate({ width: 50 + "%" }, 400);
    //     popup.show();
    // });

    // $(".Js-scene").on("click", function(){
    //     var $scene = $(this),
    //         strScene = $scene.data("scene"),
    //         cookieScene = $.cookie("scene"),
    //         reg = new RegExp("," + strScene, "gi");
    //     cookieScene = cookieScene ? cookieScene : "";
    //     if ( !cookieScene.match(reg) ) {
    //         $.cookie("scene", cookieScene + "," + strScene);
    //     }
    //     if( $.cookie("scene").split(",").length > 3 ){
    //         popup.show();
    //     }
    // });

    // var popup = $.cgPopup({
    //     title : "提示",
    //     autoShow : false,
    //     cancel : function(option){
    //         option.hide();
    //     },
    //     done : function(option){
    //         option.hide();
    //     }
    // });

    // $(".jiathis_button_tsina").on("click", function(){
    //     window.location = "http://www.baidu.com";
    //     // popup.show();
    // });
    // $(document).on("click", "span.jtico", function(){
    //     window.location = "http://www.baidu.com";
    //     // popup.show();
    // });

});
</script>


</body>
</html>