<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lottery</title>
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/popup.css">
    <link rel="stylesheet" href="css/lottery.css">
    <script src="js/modernizr.js"></script>
    <script src="js/jquery-1.8.2.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/jquery.plugin.js"></script>
</head>
<body>
    <div class="theme-lottery-body-time">
        <div class="frame">
            <p class="time">活动时间：2013年12月1日—2013年12月15日</p>
        </div>
    </div>
    <div class="theme-lottery-body-prod"></div>
    <div class="theme-lottery-body-process">
        <div class="frame">
            <img src="images/lib/i.gif" alt="" class="ok" />
            <img src="images/lib/i.gif" alt="" class="ok" />
            <img src="images/lib/i.gif" alt="" class="ok" />
        </div>
    </div>
    <div class="theme-lottery-wrap">
        <div class="theme-lottery-head">
            <h1 class="text question"></h1>
        </div>
    </div>
    <div class="theme-lottery-question">
        <table class="table">
            <tr>
                <th><span>*</span> 1、您的年龄是？（单选）</th>
            </tr>
            <tr>
                <td>
                    <label class="parse-line"><input type="radio" name="age" value="" />18岁以下</label>
                    <label class="parse-line"><input type="radio" name="age" value="" />18-25岁</label>
                    <label class="parse-line"><input type="radio" name="age" value="" />26-31岁</label>
                    <label class="parse-line"><input type="radio" name="age" value="" />32-40岁</label>
                    <label class="parse-line"><input type="radio" name="age" value="" />40岁以上</label>
                </td> 
            </tr>
            <tr>
                <th><span>*</span> 2、您的职业是？（单选）</th>
            </tr>
            <tr>
                <td>
                    <label class="parse-line"><input type="radio" name="job" value="" />学生</label>
                    <label class="parse-line"><input type="radio" name="job" value="" />上班族</label>
                    <label class="parse-line"><input type="radio" name="job" value="" />个体经营户</label>
                    <label class="parse-line"><input type="radio" name="job" value="" />待业人员</label>
                    <label class="parse-line"><input type="radio" name="job" value="" />其他</label>
                </td> 
            </tr>
            <tr>
                <th><span>*</span> 3、您一般通过哪种方式了解电信的资费或优惠活动？（多选）</th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li class="line">
                            <label><input type="checkbox" name="preferential" value="" />直接到营业厅咨询</label>
                        </li>
                        <li class="line">
                            <label><input type="checkbox" name="preferential" value="" />拨打10000号咨询</label>
                        </li>
                        <li class="line">
                            <label><input type="checkbox" name="preferential" value="" />通过QQ客服800010000咨询</label>
                        </li>
                        <li class="line">
                            <label><input type="checkbox" name="preferential" value="" />登录网上营业厅hn.189.cn了解</label>
                        </li>
                        <li class="line">
                            <label><input type="checkbox" name="preferential" value="" />通过中国电信微博了解</label>
                        </li>
                        <li class="line">
                            <label><input type="checkbox" name="preferential" value="" />访问10000知道ask.hn.ct10000.com了解</label>
                        </li>
                        <li class="line">
                            <label><input type="checkbox" name="preferential" value="" />询问身边使用电信产品的亲戚、朋友</label>
                        </li>
                        <li class="clear-line">
                            <label><input type="checkbox" name="preferential" value="" />其他方式</label>
                            <input type="text" />
                            <em>（欢迎补充）</em>
                        </li>
                    </ul>
                </td> 
            </tr>
            <tr>
                <th><span>*</span> 4、您最常通过哪种方式获取电信最新资讯、好友动态？（多选）</th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li class="in-line">
                            <label><input type="checkbox" name="information" value="" />电信公共微信</label>
                        </li>
                        <li class="in-line">
                            <label><input type="checkbox" name="information" value="" />电信官方微博</label>
                        </li>
                        <li class="in-line">
                            <label><input type="checkbox" name="information" value="" />电信公共易信</label>
                        </li>
                        <li class="in-line">
                            <label><input type="checkbox" name="information" value="" />10000知道</label>
                        </li>
                        <li class="clear-line">
                            <label><input type="checkbox" name="information" value="" />其他方式</label>
                            <input type="text" />
                            <em>（欢迎补充）</em>
                        </li>
                    </ul>
                </td> 
            </tr>
            <tr>
                <th><span>*</span> 5、您最希望了解电信哪方面的内容？（多选）</th>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li class="in-line">
                            <label><input type="checkbox" name="understand" value="" />最新产品</label>
                        </li>
                        <li class="in-line">
                            <label><input type="checkbox" name="understand" value="" />优惠套餐</label>
                        </li>
                        <li class="in-line">
                            <label><input type="checkbox" name="understand" value="" />营业网点</label>
                        </li>
                        <li class="in-line">
                            <label><input type="checkbox" name="understand" value="" />最新活动</label>
                        </li>
                        <li class="clear-line">
                            <label><input type="checkbox" name="understand" value="" />其他方式</label>
                            <input type="text" />
                            <em>（欢迎补充）</em>
                        </li>
                    </ul>
                </td> 
            </tr>
            <tr>
                <th><span>*</span> 6、您之前使用过10000知道吗？(单选）</th>
            </tr>
            <tr>
                <td>
                    <label><input type="radio" name="used" value="" />使用过</label>
                    <label><input type="radio" name="used" value="" />没有</label>
                </td> 
            </tr>
            <tr>
                <th><span>*</span> 7、您主要使用10000知道的那些功能？（多选）</th>
            </tr>
            <tr>
                <td>
                    <label class="parse-line"><input type="checkbox" name="function" value="" />产品</label>
                    <label class="parse-line"><input type="checkbox" name="function" value="" />套餐</label>
                    <label class="parse-line"><input type="checkbox" name="function" value="" />最新消息</label>
                    <label class="parse-line"><input type="checkbox" name="function" value="" />终端</label>
                    <label class="parse-line"><input type="checkbox" name="function" value="" />优惠活动</label>
                    <label class="parse-line"><input type="checkbox" name="function" value="" />爱问</label>
                    <label class="parse-line"><input type="checkbox" name="function" value="" />社区</label>
                </td> 
            </tr>
            <tr>
                <th><span>*</span> 8、您觉得使用“10000知道”可以找到您想要了解的内容吗？（单选）</th>
            </tr>
            <tr>
                <td>
                    <label class="parse-line"><input type="checkbox" name="find" value="" />全部可以找到</label>
                    <label class="parse-line"><input type="checkbox" name="find" value="" />部分可以找到</label>
                    <label class="parse-line"><input type="checkbox" name="find" value="" />根本找不到</label>
                </td> 
            </tr>
            <tr>
                <th>9、您对“10000知道”的工作有什么意见或建议吗？</th>
            </tr>
            <tr>
                <td>
                    <textarea name="proposal" cols="30" rows="10"></textarea>
                </td> 
            </tr>
            <tr>
                <td>
                    <input type="button" value="提交" class="theme-lottery-btn submit Js-submit" />
                </td> 
            </tr>
        </table>
        <div class="rule">
            <h6 class="title">活动规则</h6>
            <p>活动期间，用户参与“分享调查问卷，赢三星盖世4”活动，就有机会赢取丰厚奖品！</p>
            <p>1.用户登录湖南电信10000知道，填写调查问卷并分享至社交网站，即可参与抽奖。</p>
            <p>2.用户仅在分享当日有三次抽奖资格，不累计。</p>
            <p>3.中奖结果将在10000知道和湖南电信微博公布。</p>
            <p>4.工作人员将在活动结束后的3个工作日内联系中奖用户核对姓名、地址，请保持联系方式畅通，如因多次致电联系不上，视为主动放弃奖励。</p>
            <p>5.奖品在活动结束后15个工作日内寄出，邮费由本公司承担，话费将在活动结束后7个工作日内到账。</p>
            <p>6.请获奖用户在提示界面详细登记姓名、邮寄地址、联系方式，如遇邮寄地址、联系方式错误导致奖品无法送达，本公司不承担责任。</p>
            <p>7.请各位小伙伴遵守活动规则，如果有恶意注册等作弊手段，本次活动资格会被取消。</p>
            <h6 class="title">活动时间</h6>
            <p class="important">2013年12月1日——2013年12月15日</p>
            <h6 class="title">活动奖励</h6>
            <p class="prod">一等奖：1名；三星 I959（盖世4）</p>
            <p class="prod">二等奖：3名；华为C8813Q</p>
            <p class="prod">三等奖：5名；无线网卡（IPLINK-TR761-5200L）</p>
            <p class="prod">幸运奖：1000名；2元话费</p>
            <p class="small">活动的最终解释权归湖南电信所有</p>
        </div>
    </div>
    <div class="theme-lottery-footer">版权所有：湖南电信<span>技术支持：百应科技(北京)有限公司</span></div>
<script>
    $(function() {
        $(".Js-submit").on("click", function(){
            $.ajax({
                url : "/canJoin",
                type : "post",
                dataType : "json",
                success : function(result){
                    if ( result.success ) {
                        window.location.href = "/lottery";
                    } else{
                        $.cgPopup({
                            title : "分享",
                            addClass : "theme-lottery-popup",
                            content : function(opt){
                                var str = '';
                                str += '<div class="jiathis_style_32x32">'+
                                '<a class="jiathis_button_tsina"></a>'+
                                '<a class="jiathis_button_weixin"></a>'+
                                '<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a>'+
                                '</div>'+
                                '<div class="Js-go-lottery" style="display:none"><a href="/lottery">点我去抽奖</a></div>'+
                                '<script type="text/javascript" >'+
                                'var jiathis_config={'+
                                    'url:"www.baidu.com",'+
                                    'summary:"test content",'+
                                    'title:"test title  ##",'+
                                    'shortUrl:false,'+
                                    'hideMore:true'+
                                '}'+
                                '<\/script>'+
                                '<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"><\/script>';
                                opt.oCon.html(str).css("padding-bottom", "30px");
                                opt.oCon.on("click", ".jiathis_button_tsina", function(){
                                    opt.oCon.find(".Js-go-lottery").show();
                                }).on("click", "span.jtico", function(){
                                    opt.oCon.find(".Js-go-lottery").show();
                                });
                            },
                            hasBtn : false
                        });
                    }
                }
            });
        });
    });
</script>

</body>
</html>