.wrap {
  width: 1000px;
  margin: 100px auto;
}
.lottery-box {
  width: 300px;
  height: 200px;
}
.lottery-result {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 0 auto;
  background: url("../images/lib/i.gif") no-repeat center top;
}
.lottery-result-first {
  background-image: url("../images/temp/first.jpg");
}
.lottery-result-second {
  background-image: url("../images/temp/second.jpg");
}
.lottery-result-third {
  background-image: url("../images/temp/third.jpg");
}
.lottery-result-failed {
  background-image: url("../images/temp/failed.jpg");
}
.lottery-result .layer-left,
.lottery-result .layer-right {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #cccccc;
}
.lottery-result .layer-left {
  left: 0;
}
.lottery-result .layer-right {
  right: 0;
}
